@model IEnumerable<RisingPhoenix.Models.Referrals>

@{
    ViewData["Title"] = "Index";
}
<div style="text-align:center">
    <img src="http://www.thephoenixhasrisen.com/wp-content/uploads/2015/11/Screen-Shot-2015-11-18-at-4.52.36-PM.png" />

    <nav-menu></nav-menu>
</div>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SenderMsg)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SenderMsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Company)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FormId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FormId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FormId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
