@model RisingPhoenix.Models.NonMembers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NonMembers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NonMemType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NonMemType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NonMemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NonMemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NonMemPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NonMemPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NonMemEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NonMemEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NonMemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
