@model RisingPhoenix.Models.Htmoneys

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Htmoneys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefForm.FormId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FormId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
