@model RisingPhoenix.Models.Htmoneys

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Htmoneys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form.FormId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefForm.FormId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
