@model IEnumerable<RisingPhoenix.Models.Forms>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FormId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FormId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FormId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
