@model IEnumerable<RisingPhoenix.Models.Forms>

@{
    ViewData["Title"] = "Report";
}

<h2>Report</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Member
                </th>
                <th>
                    Referrals Sent
                </th>
                <th>
                    Referrals Recieved
                </th>
                <th>
                    Income Generated
                </th>
                <th>
                    Face to Faces
                </th>
                <th>
                    Absences
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
        </tr>
}
    </tbody>
</table>
