@model IEnumerable<RisingPhoenix.Models.Face2Faces>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Form)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetId1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetId2Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetId3Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetId4Navigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Form.FormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetId1Navigation.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetId2Navigation.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetId3Navigation.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetId4Navigation.Company)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FormId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FormId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FormId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
