@model RisingPhoenix.Models.Members

@{
    ViewData["Title"] = "Details";
}
<div style="text-align:center">
    <img src="http://www.thephoenixhasrisen.com/wp-content/uploads/2015/11/Screen-Shot-2015-11-18-at-4.52.36-PM.png" />

    <nav-menu></nav-menu>
</div>

<h2>Details</h2>

<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Profession)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberSince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberSince)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbsenceCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbsenceCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdminBool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdminBool)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
